NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APPLICATIONINSIGHTS_CONNECTION_STRING=
NEXT_PUBLIC_CORE_API_URL=http://localhost:3001
NEXT_PUBLIC_ENTRA_B2C_TENANT=
NEXT_PUBLIC_ENTRA_B2C_CLIENT_ID=
NEXT_PUBLIC_ENTRA_B2C_POLICY=B2C_1_signup_signin
NEXT_PUBLIC_FEATURE_PDF_PARSER=false
NEXT_PUBLIC_FEATURE_VIDEO=false
NEXT_PUBLIC_FEATURE_PREMIUM_RENDER=false
