PORT=3001
NODE_ENV=development
APPLICATIONINSIGHTS_CONNECTION_STRING=
AZURE_B2C_TENANT=
AZURE_B2C_CLIENT_ID=
AZURE_B2C_POLICY=B2C_1_signup_signin
AZURE_SQL_CONNECTION_STRING=
AZURE_COSMOS_CONNECTION_STRING=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_SERVICE_BUS_CONNECTION_STRING=
AZURE_REDIS_CONNECTION_STRING=
AZURE_SIGNALR_CONNECTION_STRING=
AZURE_KEY_VAULT_URL=
FEATURE_PDF_PARSER=false
FEATURE_VIDEO=false
FEATURE_PREMIUM_RENDER=false
