PORT=3002
NODE_ENV=development
APPLICATIONINSIGHTS_CONNECTION_STRING=
AZURE_COSMOS_CONNECTION_STRING=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_KEY_VAULT_URL=
JWT_SHARE_SECRET=
FEATURE_PDF_PARSER=false
FEATURE_VIDEO=false
FEATURE_PREMIUM_RENDER=false
