APPLICATIONINSIGHTS_CONNECTION_STRING=
AZURE_SERVICE_BUS_CONNECTION_STRING=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_IDENTITY_CLIENT_ID=
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
FEATURE_PDF_PARSER=false
